<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
	<head>
	    <title>Pub quiz server</title>
	</head>
	
	<body>
		<h1>Log in</h1>
		<form th:action="@{/login}" method="post">
	      <label for="email">Email</label>:
	      <input type="text" id="email" name="email" autofocus="autofocus" /> <br />
	      <label for="password">Password</label>:
	      <input type="password" id="password" name="password" /> <br />
	      <input type="submit" value="Log in" />
	    </form>
	</body>
</html>