<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
	<head>
	    <title>Quizzes</title>
	</head>
	
	<body>
		<h1>New Quiz</h1>
		<form action="#" th:action="@{'/quiz/' + ${quiz.id} + '/addQuestion'}" th:object="${newQuestion}" method="post">
			<input type="hidden" th:field="*{id}" />
			<input type="hidden" th:field="*{total_questions}" />
			<input type="hidden" th:field="*{quiz}" />
			<div>
				<label for="question_number">Númer spurningar</label>
				<input type="number" th:field="*{question_number}" />
			</div>
			<div>
				<label for="question_type">Tegund spurningar</label>
				<input type="text" th:field="*{question_type}" />
			</div>
			<div>
				<label for="question">Spurning</label>
				<select th:field="*{question}">
					<th:block th:switch="${privateList.isEmpty()}">
						<optgroup th:case="false" label="Persónulegar spurningar">
		                  <th:block th:each="q : ${privateList}">
		                      <option th:value="${q.question}" th:text="${q.question}"></option>
		                  </th:block>
	                  	</optgroup>
	                </th:block>
	                <optgroup label="Almennings spurningar">
		            	<th:block th:each="q : ${publicList}">
		                	<option th:value="${q.question}" th:text="${q.question}"></option>
		                </th:block>
	                </optgroup>
                </select>
			</div>
			<div>
				<label for="isPrivate">Sýnileiki (geta aðrir valið að nota þessa spurningu í framtíðinni í sínu quizi)</label>
				<select th:field="*{isPrivate}">
					<option value="false">Almennings aðgangur</option>
					<option value="true">Persónulegur aðgangur</option>
				</select>
			</div>
			<div>
				<input type="submit" value="Vista" />
			</div>
		</form>
	</body>
</html>