<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
	<head>
	    <title>Quizzes</title>
	</head>
	
	<body>
		<h1>New Quiz</h1>
		<form action="#" th:action="@{'/quiz/' + ${quiz.id} + '/addQuestion'}" th:object="${newQuestion}" method="post">
			<input type="hidden" th:field="*{id}" />
			<input type="hidden" th:field="*{total_questions}" />
			<input type="hidden" th:field="*{quiz}" />
			<div>
				<label for="roomName">Númer spurningar</label>
				<input type="number" th:field="*{question_number}" />
			</div>
			<div>
				<label for="startTime">Tegund spurningar</label>
				<input type="text" th:field="*{question_type}" />
			</div>
			<div>
				<label for="duration">Spurning</label>
				<textarea rows="24" cols="80" th:field="*{question}"></textarea>
			</div>
			<div>
				<input type="submit" value="Vista" />
			</div>
		</form>
	</body>
</html>