<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
	<head>
	    <title>Quizzes</title>
	</head>
	
	<body>
		<h1>Quizzes</h1>
		<table>
			<thead>
				<tr>
					<th>Auðkenni</th>
					<th>Skráningarheiti</th>
					<th>Upphafstími</th>
					<th>Tímalengd</th>
					<th>Fjöldi spurninga</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="quiz: ${quizzes}">
					<td><a th:text="${quiz.id}" th:href="@{'/quiz/' + ${quiz.id}}">0</a></td>
					<td th:text="${quiz.roomName}">a_generic_quiz</td>
					<td th:text="${quiz.startTime}">2004</td>
					<td th:text="${quiz.duration}">24</td>
					<td th:text="${#lists.size(quiz.questions)}">0</td>
					<td>
						<form action="#" th:action="@{'/quiz/' + ${quiz.id}}" th:method="delete">
							<button type="submit">Eyða</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
		<a href="/quiz/new">Nýtt quiz</a>
	</body>
</html>