<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}"></html>

<html lang="en">

<head>
    <title>Testing grounds</title>
	<script th:inline="javascript">
	/*<![CDATA[*/
	    function sendAns() {
	    	document.getElementById("abc").innerHTML = "Javascript is a go. I say again javascript is a go.";
	    	console.log("a");
	    	var xhr = new XMLHttpRequest();
	    	console.log("b");
	    	var url = "http://localhost:8080/answer";
	    	xhr.open("POST", url, true);
	    	xhr.setRequestHeader("Content-type", "application/json");
	    	/*xhr.onreadystatechange = function () {
	    	    if (xhr.readyState === 4 && xhr.status === 200) {
	    	        var json = JSON.parse(xhr.responseText);
	    	    }
	    	};*/
	    	var data = JSON.stringify({"id":23,"team_id":2,"question_id":5,"answer":"I work."});
	    	xhr.send(data);
	    }
	
	    function getQuestion() {
	    	document.getElementById("abc").innerHTML = "Javascript is dead. I say again javascript is dead.";
	    	xhr = new XMLHttpRequest();
	    	url = "http://localhost:8080/question";
	    	xhr.open("POST", url, true);
	    	xhr.setRequestHeader("Content-type", "application/json");
	    	data = JSON.stringify({"quiz_id":23,"question_number":2,"phone_id":"eede877b-7741-4dec-a6a4-3b7d9b06bc5c"});
	    	xhr.send(data);
	    }
	    
	    function registerTeam() {
	    	document.getElementById("abc").innerHTML = "Javascript's team is on holiday. I say again the team is on holiday.";
	    	xhr = new XMLHttpRequest();
	    	url = "http://localhost:8080/register_team";
	    	xhr.open("POST", url, true);
	    	xhr.setRequestHeader("Content-type", "application/json");
	    	data = JSON.stringify({"id":49, "room_name":"Waffles","team_name":"Tveir á kantinum","phone_id":"eede877b-7741-4dec-a6a4-3b7d9b06bc5c"});
	    	xhr.send(data);
	    }
	/*]]>*/
	</script>
</head>
<body>

<h1 id="abc">Test</h1>
<button type="button" onclick="sendAns()">Send Answer</button>
<button type="button" onclick="getQuestion()">Fetch Question</button>
<button type="button" onclick="registerTeam()">Register Team</button>
</body>



</html>